<div class="bg-dark text-light">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 p-2">
        <div class="col text-start p-5">
            <h2>Contact us :</h2>
            <ul class="fs-3" style=list-style:none>
                <li>Phone:XXXXXXXXXX</li>
                <li>Email : XXXXX@gmail.com</li>
            </ul>
        </div>
        <div class="col text-center p-5">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRATMH-afHWysyBPd1aJyJIv_C-7yPPUrTalA&usqp=CAU" alt="">
        </div>
        <div class="col text-end p-5">
            <h2>Follow us :</h2>
            <ul class="fs-3" style=list-style:none>
                <li>Facebook : XXXXXX</li>
                <li>Linkedin : XXXXXX</li>
            </ul>
        </div>
    </div>
</div>