<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 m-4">
    <div class="col">
        <div class="card shadow m-2">
            <img src="https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg,h_212,w_212/v1605303289/Croma%20Assets/Entertainment/Television/Images/8940241354782.png" class="mx-auto" width="70%" alt="">
           
            <div class="card-body bg-light">
                <h5 class="fw-bold">SAMSUNG 81 SERIES</h5>
                <p class="text-end lead">Price : 50,000/-</p>
           
            <div class="bg-light">
            <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow m-2">
        <img src="https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg,h_212,w_212/v1610603169/Croma%20Assets/Entertainment/Television/Images/32W6100-01_uktndu.png" class="mx-auto" width="70%"  alt="">
        <div class="card-body bg-light">
            <h5 class="fw-bold">SONY</h5>
            <p class="text-end lead">Price : 20,000/-</p> <div class="bg-light">
                <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
    </div>
</div>
<div class="col">
    <div class="card shadow m-2">
        <img src="https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg,h_212,w_212/v1605327183/Croma%20Assets/Entertainment/Television/Images/8956317106206.png" width="70%" class="mx-auto" alt="">
        <div class="card-body  bg-light">
            <h5 class="fw-bold">LG TV</h5>
            <p class="text-end lead">Price : 60,000/-</p><div class="bg-light">
                <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
    </div>
</div>
<div class="col">
    <div class="card shadow m-2">
        <img src="https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg,h_212,w_212/v1613993928/Croma%20Assets/Entertainment/Television/Images/232859_rakdhy.png" class="mx-auto" width="70%" alt="">
        <div class="card-body bg-light">
            <h5 class="fw-bold">HAIER </h5>
            <p class="text-end lead">Price : 80,000/-</p><div class="bg-light">
                <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
    </div>
</div>
<div class="col">
    <div class="card shadow m-2">
    <img src="https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg,h_212,w_212/v1618902181/Croma%20Assets/Entertainment/Television/Images/233052_qvu5du.png" width="70%"  class="mx-auto" alt="">
    <div class="card-body  bg-light">
        <h5 class="fw-bold">SANYO</h5>
        <p class="text-end lead">Price : 33,999/-</p><div class="bg-light">
            <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
</div>
</div>
<div class="col">
<div class="card shadow m-2">
    <img src="https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg,h_212,w_212/v1618463332/Croma%20Assets/Entertainment/Television/Images/233702_vlutov.png" width="70%" class="mx-auto" alt="">
    <div class="card-body  bg-light">
        <h5 class="fw-bold">CROMA</h5>
        <p class="text-end lead">Price : 73,000/-</p><div class="bg-light">
            <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
</div>
</div>
</div>
