<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 m-4">
    <div class="col">
        <div class="card shadow m-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRftk3kkITr-o4F8B_YxgE3K21PSQgDxZbzlGZpibbxSEpiNa4pxdtdf0a27UrQpmkmNjJs1i4&usqp=CAc" class="mx-auto" width="30%" alt="">
           
            <div class="card-body bg-light">
                <h5 class="fw-bold">One Plus 5G</h5>
                <p class="text-end lead">Price : 50,000/-</p>
           
            <div class="bg-light">
            <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow m-2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRATR3I6c_1uo2iojop7-_GwCK_q9iwgKAOXzD3h5xA3_AwZZ0xXKl5dwD3TOu4h7hDZ97YXjaq&usqp=CAc" class="mx-auto" width="60%"  alt="">
        <div class="card-body bg-light">
            <h5 class="fw-bold">Vivo Y19</h5>
            <p class="text-end lead">Price : 20,000/-</p> <div class="bg-light">
                <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
    </div>
</div>
<div class="col">
    <div class="card shadow m-2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxUDVhqOgolaJt0Mbow5Khg3wGQ3KtCG-PYnGkZT8XmHUQPJaOByJVkCZvTQ&usqp=CAc" width="28%" class="mx-auto" alt="">
        <div class="card-body  bg-light">
            <h5 class="fw-bold">Samsung F41</h5>
            <p class="text-end lead">Price : 25,000/-</p><div class="bg-light">
                <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
    </div>
</div>
<div class="col">
    <div class="card shadow m-2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfrSk1Jq2WxW5U4WLPCwPZxXLcLTZZ5x0lDsL7E2dOcBXagVfuEALMwgY1maW6YnSUKN3l1iQ9&usqp=CAc" class="mx-auto" width="60%" alt="">
        <div class="card-body bg-light">
            <h5 class="fw-bold">Poco F18</h5>
            <p class="text-end lead">Price : 21,000/-</p><div class="bg-light">
                <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
    </div>
</div>
<div class="col">
    <div class="card shadow m-2">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5cCYCs3tr4SKWwclEiAHODaSrdQIxmQ3Mqdowyr8NrEdhhWoSrvecB-zqmmdJR2R36FE4euxE&usqp=CAc" width="46%"  class="mx-auto" alt="">
    <div class="card-body  bg-light">
        <h5 class="fw-bold">Oppo Y20</h5>
        <p class="text-end lead">Price : 13,999/-</p><div class="bg-light">
            <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
</div>
</div>
<div class="col">
<div class="card shadow m-2">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx0wGMVB2i8dAYm-x_mQ8jJq4Bm4pivGDRjhHFAMfE8CG1xj18Y03ELaflRhEv1MHzrkDmDJc&usqp=CAc" width="60%" class="mx-auto" alt="">
    <div class="card-body  bg-light">
        <h5 class="fw-bold">Redmi 9</h5>
        <p class="text-end lead">Price : 17,000/-</p><div class="bg-light">
            <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
</div>
</div>
</div>

