
    <div class="card bg-light shadow m-3 p-2">
        <img src="https://i.dell.com/sites/csimages/Banner_Imagery/all/Inspiron-13-7306-2in1.png" alt="" >
        <div class="card-body">
            <p class="lead">Inspiron 13 2-in-1 Laptop
                11th Generation Intel® Core™ i5-1135G7 Processor</p>
            <h5 class="text-primary">Price : 79,000/-</h5>
            <button class="btn btn-success float-end">Add to cart <i class="fas fa-shopping-cart"></i></button>
        </div>
    </div>
