<div class="container">
<form action="" class="fs-2">
    <h1 class="text-danger text-center fw-bold display-3">Login Now !</h1>
    <div class="m-3 fs-1">
        <label for="un" class="form-label">Username : </label>
        <input type="text" class="form-control fs-2" name="user" id="un">
    </div>
    <div class="m-3 fs-1">
        <label for="pw" class="form-label">Password : </label>
        <input type="password" class="form-control fs-2"  name="pass" id="pw">
    </div>
    <button class="btn btn-success fs-2 float-end m-5 p-3">Login</button>
    <a href="http://localhost:4200/login" class="fs-4">Forgot password?</a>
</form>
</div>
