<div class="container">
<form action="">
    <h1 class="text-danger text-center fw-bold">Login Now !</h1>
    <div class="m-3">
        <label for="un" class="form-label">Username : </label>
        <input type="text" class="form-control " name="user" id="un">
    </div>
    <div class="m-3">
        <label for="pw" class="form-label">Password : </label>
        <input type="password" class="form-control"  name="pass" id="pw">
    </div>
    <button class="btn btn-success float-end m-5 p-3">Login</button>
    <a href="http://localhost:4200/login" >Forgot password?</a>
</form>
</div>
