<div class="container">
<h1 class="display-3 fw-bold text-warning text-center">Contact Us !</h1>

    <div class="m-5">
    <h1 class="text-danger display-4"><i class="far fa-comment-alt"></i> Feedback</h1>
    <p class="fs-2">For any kind of input you would like to give CodeChef,
    <a href="feedback@codechef.com"> feedback@codechef.com</a>
        Read the FAQ page for general CodeChef guidelines</p>
    </div>
    <div class="m-5">
        <h1 class="text-danger display-4"><i class="fas fa-award"></i> Host your Contest !</h1>
        <p class="fs-2">If you would like to host your own contest on CodeChef,
           <a href="contests@codechef.com">contests@codechef.com</a> </p>
    </div>
    <div class="m-5">
        <h1 class="text-danger display-4"><i class="fas fa-question"></i> Be a problem setter or tester !</h1>
        <p class="fs-2">To be a problem setter/tester for CodeChef,
            <a href=" problems@codechef.com">problems@codechef.com</a> 
            Check out our Problem Setting/Testing page for more details
          </p>
    </div>
    <div class="m-5">
        <h1 class="text-danger display-4">Follow us on</h1><h1> <i class="fab fa-youtube"></i> , <i class="fab fa-instagram"></i> , <i class="fab fa-linkedin"></i> , <i class="fab fa-twitter"></i> , <i class="fab fa-facebook"></i></h1>
    </div>

</div>