<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 m-4">
    <div class="col">
        <div class="card shadow m-2">
            <img src="https://media.zigcdn.com/media/model/2020/Feb/s-100-rr_360x240.jpg" class="mx-auto" width="90%" alt="">
           
            <div class="card-body bg-light">
                <h5 class="fw-bold">BMW S1000 RR</h5>
                <p class="text-end lead">Price : 19,50,000/-</p>
           
            <div class="bg-light">
            <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow m-2">
        <img src="https://media.zigcdn.com/media/model/2021/Feb/royal-enfield-himalayan-abc_360x240.jpg" class="mx-auto" width="90%"  alt="">
        <div class="card-body bg-light">
            <h5 class="fw-bold">ROYAL ENFEILD</h5>
            <p class="text-end lead">Price : 2,20,000/-</p> <div class="bg-light">
                <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
    </div>
</div>
<div class="col">
    <div class="card shadow m-2">
        <img src="https://media.zigcdn.com/media/model/2021/Feb/2021-suzuki-hayabusa-abc_360x240.jpg" width="90%" class="mx-auto" alt="">
        <div class="card-body  bg-light">
            <h5 class="fw-bold">SUZUKI HAYABUSA</h5>
            <p class="text-end lead">Price : 1,50,000/-</p><div class="bg-light">
                <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
    </div>
</div>
<div class="col">
    <div class="card shadow m-2">
        <img src="https://media.zigcdn.com/media/model/2020/Jun/honda-activa-6g_360x240.jpg" class="mx-auto" width="90%" alt="">
        <div class="card-body bg-light">
            <h5 class="fw-bold">HONDA 6G</h5>
            <p class="text-end lead">Price : 61,000/-</p><div class="bg-light">
                <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
    </div>
</div>
<div class="col">
    <div class="card shadow m-2">
    <img src="https://media.zigcdn.com/media/model/2020/Dec/125-duke-2021_360x240.jpg" width="90%"  class="mx-auto" alt="">
    <div class="card-body  bg-light">
        <h5 class="fw-bold">KTM 125</h5>
        <p class="text-end lead">Price : 1,13,999/-</p><div class="bg-light">
            <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
</div>
</div>
<div class="col">
<div class="card shadow m-2">
    <img src="https://media.zigcdn.com/media/model/2020/Jun/neon_360x240.jpg" width="90%" class="mx-auto" alt="">
    <div class="card-body  bg-light">
        <h5 class="fw-bold">BAJAJ PULSAR</h5>
        <p class="text-end lead">Price : 73,000/-</p><div class="bg-light">
            <button class="btn btn-success float-end btn-sm">Add to Cart</button></div> </div>
</div>
</div>
</div>
