
<h2 class="text-center text-danger">ID : {{obj.id}}</h2>
<div class="card d-block  mx-auto w-50 bg-dark m-2 text-white">
    <img src="{{obj.profilepic}}" class="m-2 d-block mx-auto" alt="">
    <div class="card-body">
        <h4 class="text-danger text-center">{{obj.name}}</h4>
        <h6>EMAIL : {{obj.email}}</h6>
        <h6>STREET : {{obj.address.street}}</h6>
        <h6>CITY : {{obj.address.city}}</h6>
        <h6>PHONE : {{obj.phone}}</h6>
        <h6>PROFESSION : {{obj.profession}}</h6>
    </div>
</div>
