<div class="m-5">
    <h1 class="m-3 fw-bold text-center text-danger"> CODECHEF</h1>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.codechef.com/download/1-HP-LC-Recruiter.png" class="d-block " width="100%" alt="...">
            
          </div>
          <div class="carousel-item">
            <img src="https://www.codechef.com/download/Stock-Exchange-HP.png" class="d-block" width="100%" alt="...">
           
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <h3 class="text-warning mt-4">CodeChef - A Platform for Aspiring Programmers</h3>
    <p class="">CodeChef was created as a platform to help programmers make it big in the world of algorithms, computer programming, and programming contests. At CodeChef we work hard to revive the geek in you by hosting a programming contest at the start of the month and two smaller programming challenges at the middle and end of the month. We also aim to have training sessions and discussions related to algorithms, binary search, technicalities like array size and the likes. Apart from providing a platform for programming competitions, CodeChef also has various algorithm tutorials and forum discussions to help those who are new to the world of computer programming.</p>
    <h3 class="text-warning">Practice Section - A Place to hone your 'Computer Programming Skills'</h3>
    <p class="">Try your hand at one of our many practice problems and submit your solution in the language of your choice. Our programming contest judge accepts solutions in over 55+ programming languages. Preparing for coding contests were never this much fun! Receive points, and move up through the CodeChef ranks. Use our practice section to better prepare yourself for the multiple programming challenges that take place through-out the month on CodeChef.</p>
    <h3 class="text-warning">Compete - Monthly Programming Contests, Cook-off and Lunchtime</h3>
    <p class="">Here is where you can show off your computer programming skills. Take part in our 10 days long monthly coding contest and the shorter format Cook-off and Lunchtime coding contests. Put yourself up for recognition and win great prizes. Our programming contests have prizes worth up to INR 20,000 (for Indian Community), $700 (for Global Community) and lots more CodeChef goodies up for grabs.</p>

</div>